include *.txt
include LICENSE
recursive-include sphinx_atl_theme *.conf
recursive-include sphinx_atl_theme *.css
recursive-include sphinx_atl_theme *.eot
recursive-include sphinx_atl_theme *.html
recursive-include sphinx_atl_theme *.js
recursive-include sphinx_atl_theme *.svg
recursive-include sphinx_atl_theme *.ttf
recursive-include sphinx_atl_theme *.woff
